import plotly.graph_objects as go

fig = go.Figure()

# footing
fig.add_shape(type="rect", x0=0, y0=0, x1=B, y1=L,
              line=dict(color="blue"))

# columns
for (x,y) in cols:
    fig.add_trace(go.Scatter(x=[x], y=[y],
                             mode='markers',
                             marker=dict(color='red', size=10)))

# centroid
fig.add_trace(go.Scatter(x=[x_bar], y=[y_bar],
                         mode='markers',
                         marker=dict(color='green', size=12),
                         name="Centroid"))

st.plotly_chart(fig)
